.c-heading__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100px;

    a {
        display: block;
    }
}

.c-secondly-heading {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
}