.c-nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    color: #fff;
    padding: 60px 25px;
    background-color: #121212;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .5s;
    z-index: 20;
    opacity: 0;
}

.js-open {
    .c-nav {
        opacity: 1;
        left: 0;
    }
}

.c-nav__btn {
    display: block;
    position: fixed;
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 20;

    span {
        display: block;
        position: absolute;
        top: 4px;
        width: 30px;
        height: 2px;
        background-color: black;
        transition: all .5s;
    }

    span:nth-of-type(2) {
        position: absolute;
        top: 14px;
        width: 30px;
        height: 2px;
        background-color: black;
    }

    span:nth-of-type(3) {
        position: absolute;
        top: 24px;
        width: 30px;
        height: 2px;
        background-color: black;
    }
}

.js-open {
    .c-nav__btn {
        span {
            top: 15px;
            transform: rotateZ(315deg);
        }
    
        span:nth-of-type(2) {
            display: none;
        }
    
        span:nth-of-type(3) {
            top: 15px;
            transform: rotateZ(-315deg);
        }
    }
}

.js-open .c-nav__mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
    transition: all .5s;
}

.c-nav__items {
    margin-bottom: 60px;
    
    li {
        padding: 20px 0;
        border-top: 1px solid white;
        border-bottom: 1px solid white;

        a {
            color: white;
        }
    }
}

.c-nav__sns {
    li:nth-of-type(n + 2) {
        padding-top: 10px;
    }
    a {
        color: white;
    }
}