.c-news {

    dt {
        float: left;
        font-size: 1rem;
    }

    dd {
        margin-left: 50px;
        font-size: 1rem;
    }

    &__wrap {
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
    }
}