.l-header {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: transparent;
    border-bottom: 1px solid black;
    box-sizing: border-box;

    &__inner {
        position: relative;
    }
}