.p-form {
    dt {
        color: white;
    }

    dd {
        margin-bottom: 20px;
        input {
            width: 100%;
            box-sizing: border-box;
            background-color: white;
            padding: 20px;
        }
    }
}