@charset "UTF-8";
body {
  color: #121212;
  font-family: "Yuji Syuku", serif;
  font-size: 62.5%;
}

main {
  display: block;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 981px) {
  a:hover {
    opacity: 0.7;
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.l-content {
  max-width: 1240px;
  width: 100%;
  margin: 50px auto 0;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.l-content__inner {
  margin-top: 25px;
}

.l-header {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.l-footer {
  background-color: black;
}

.l-footer p {
  color: white;
  text-align: center;
  padding: 10px 0;
}

.l-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
}

.c-nav li a {
  font-size: 1.2rem;
}

.js-open .c-nav {
  opacity: 1;
  left: 0;
}

@media screen and (max-width: 659px) {
  .c-nav__btn {
    display: block;
    position: fixed;
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 20;
  }
  .c-nav__btn span {
    display: block;
    position: absolute;
    top: 4px;
    width: 30px;
    height: 2px;
    background-color: black;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .c-nav__btn span:nth-of-type(2) {
    position: absolute;
    top: 14px;
    width: 30px;
    height: 2px;
    background-color: black;
  }
  .c-nav__btn span:nth-of-type(3) {
    position: absolute;
    top: 24px;
    width: 30px;
    height: 2px;
    background-color: black;
  }
}

.js-open .c-nav__btn span {
  top: 15px;
  -webkit-transform: rotateZ(315deg);
          transform: rotateZ(315deg);
}

.js-open .c-nav__btn span:nth-of-type(2) {
  display: none;
}

.js-open .c-nav__btn span:nth-of-type(3) {
  top: 15px;
  -webkit-transform: rotateZ(-315deg);
          transform: rotateZ(-315deg);
}

.js-open .c-nav__mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.c-nav__items {
  margin-bottom: 60px;
}

.c-nav__items li {
  padding: 20px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.c-nav__items li a {
  color: white;
}

.c-nav__sns li:nth-of-type(n + 2) {
  padding-top: 10px;
}

.c-nav__sns a {
  color: white;
}

.c-heading__logo {
  width: 100px;
  margin: 50px auto 0;
}

.c-heading__logo a {
  display: block;
}

.c-secondly-heading {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
}

.c-video video {
  width: 100%;
  vertical-align: bottom;
}

.c-button input {
  width: 200px;
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 12px 0;
}

@media screen and (min-width: 981px) {
  .c-button input:hover {
    color: black;
    background-color: white;
  }
}

@media screen and (max-width: 659px) {
  .c-button input {
    width: 100%;
  }
}

.p-card--01 {
  width: calc((100% - 60px) / 3);
  -webkit-box-shadow: 0 0 8px 4px #ccc;
          box-shadow: 0 0 8px 4px #ccc;
}

@media screen and (min-width: 981px) {
  .p-card--01:not(:nth-of-type(3n)) {
    margin-right: 30px;
  }
  .p-card--01:nth-of-type(n + 4) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 660px) and (max-width: 980px) {
  .p-card--01 {
    width: calc((100% - 30px) / 2);
  }
  .p-card--01:nth-of-type(even) {
    margin-left: 30px;
  }
  .p-card--01:nth-of-type(n + 3) {
    margin-top: 30px;
  }
}

@media screen and (max-width: 659px) {
  .p-card--01 {
    width: 100%;
  }
  .p-card--01:nth-of-type(n + 2) {
    margin-top: 30px;
  }
}

.p-card--01 .p-card__texts {
  padding: 30px;
}

.p-card--01 .p-card__tag {
  font-size: 0.75rem;
  margin-bottom: 20px;
}

.p-card--01 .p-card__text {
  font-weight: bold;
  margin-bottom: 20px;
}

.p-card--01 .p-card__price {
  font-size: 0.75rem;
  text-align: right;
}

.p-box--01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-box--01 .p-box__text-area {
  width: 45%;
}

@media screen and (max-width: 659px) {
  .p-box--01 .p-box__text-area {
    width: 100%;
    margin-bottom: 30px;
  }
}

.p-box--01 .p-box__input-area {
  width: 45%;
}

@media screen and (max-width: 659px) {
  .p-box--01 .p-box__input-area {
    width: 100%;
  }
}

.p-box--01 p:nth-of-type(n + 2) {
  margin-top: 20px;
}

.p-form dt {
  color: white;
}

.p-form dd {
  margin-bottom: 20px;
}

.p-form dd input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  padding: 20px;
}

.p-kv__wrap {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-menu__item {
  width: calc((100% - 60px) / 3);
}

.p-menu__item a {
  display: block;
}

.p-menu__item:not(:nth-of-type(3n)) {
  margin-right: 30px;
}

.p-menu__item:nth-of-type(n + 4) {
  margin-top: 30px;
}

.p-menu__img {
  overflow: hidden;
  border-radius: 8px;
}

.p-menu__text-area {
  margin-top: 25px;
}

.p-menu__heading {
  font-size: 1.5rem;
}

.p-menu__text {
  font-size: 1rem;
  margin-top: 10px;
}

.u-text-accent--01 {
  color: white;
}

.u-text--left {
  text-align: left;
}

.u-text--center {
  text-align: center;
}

.u-text--right {
  text-align: right;
}
/*# sourceMappingURL=style.css.map */