.u-text-accent {
    &--01 {
        color: white;
    }
}

.u-text {
    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}